backend/channel-artifacts/
backend/crypto-config/
chaincode/github.com/
backend/base/docker-compose-base.yaml
chaincode/centralgovcc/vendor/
chaincode/citizencc/vendor/
chaincode/districtofficecc/vendor/
chaincode/rationshopcc/vendor/
chaincode/stategovcc/vendor/
middleware/wallet_centralgov/
middleware/wallet_stategov/
middleware/wallet_districtoffice/
middleware/wallet_citizens/
middleware/wallet_rationshop/

